<% @title = "イベントの新規登録" %>
<div class="page-title">
  <h2><%= @title %></h2>
</div>


<div id="generic-form">
  <%= form_with model: @event, url: :caregiver_events do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "登録" %> <br>
      <%= link_to "キャンセル", :back %>
    </div>
  <% end %>
</div>

<%= link_to "トップページへ戻る", caregiver_staff_members_path %>
