<% @title = "イベントの詳細" %>
<div class="page-title">
  <h2><%= @title %></h2>
</div>

<div class="table-wrapper">
  <% p = EventPresenter.new(@event, self) %>

  <table class="attributes" >
    <tr>
      <th>タイトル</th><td><%= p.title %></td></tr>
    <tr>
      <th>申し込み開始日</th><td class="date"><%= p.application_start_time %></td>
    </tr>
    <tr>
      <th>申し込み終了日</th><td class="date"><%= p.application_end_time %></td>
    </tr>
    <tr>
      <th>最小参加人数</th><td class="numeric"><%= p.min_number_of_participants %></td>
    </tr>
    <tr>
      <th>最大参加人数</th><td class="numeric"><%= p.max_number_of_participants %></td>
    </tr>
    <tr>
      <th>申し込み件数</th><td class="numeric"><%= p.number_of_applicants %></td>
    </tr>
    <tr>
      <th>登録職員</th><td><%= p.registrant %></td></tr>
    <tr>
  </table>

  <div class="card-5">
  <h3 class="content-1">イベント内容</h3>
  <p class="content-2">
    <%= p.description %>
  </p>
</div>

<br>
<h2>参加者</h2>
<%= render "entries_form" if @event.entries.count > 0%>
  <ul class="link-list">
    <li><%= link_to "戻る", caregiver_events_path, class: "btn btn--yellow btn--cubic" %></li>
  </ul>
</div>


