<header>
 <link rel="icon" type="image/png" href="#">
  <span class="logo-mark">kiroku</span>
  <%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
   <%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>
 
 <%= 
   if current_family
    button_to "ログアウト",:family_logout, method: :delete
   else 
    link_to "ログイン", :family_login
   end
   %>
  </div>
<%= link_to "アカウント", :family_account if current_family %>
<%= link_to "お問い合わせ", :new_family_message if current_family %>

</header>
