   <div class="field">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %><br>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.submit "ログイン" %>
    </div>
