<% @title = "ログイン" %>

<div id="login_form">
  <h1><%= @title %></h1>

    <%= form_with(model: @form, url: :caregiver_session, local: true) do |f| %>

    <div>
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.submit "ログイン" %>
    </div>
    <% end %>
</div>
