    <div class="field">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :age, "年齢" %><br>
      <%= f.text_field :age %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード(８文字以上１２時文字以内で入力してください)" %><br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワードをもう１度入力してください。" %><br>
      <%= f.password_field :password_confirmation %>
    </div>
  
