<% @title = "ダッシュボード" %>
<h2><%= @title %></h2>

<ul class="link-list">
  <li>
  <%= link_to "利用者管理", caregiver_staff_member_customers_path(@caregiver.id), class: "btn btn--yellow btn--cubic" %>
  </li>
  <li>
  <%= link_to "イベント管理", caregiver_events_path, class: "btn btn--yellow btn--cubic" %>
  </li>
</ul>

<li>メッセージ管理
  <ul>
    <li>
     <%= link_to "問い合わせ一覧", inbound_caregiver_messages_path, class: "btn btn--yellow btn--cubic" %>
    </li>
    <li>
     <%= link_to "返信一覧", outbound_caregiver_messages_path, class: "btn btn--yellow btn--cubic" %>
    </li>
    <li>
      <%= link_to "全メッセージ一覧", caregiver_messages_path, class: "btn btn--yellow btn--cubic" %>
    </li>
    <li>
      <%= link_to "ゴミ箱", deleted_caregiver_messages_path, class: "btn btn--yellow btn--cubic" %>
    </li>
  </ul>
</li>



