<div class="page-title">
  <h2>スタッフ 一覧</h2>
</div>


<div class="profil-container ">
      <div class="link-list clearfix">
            <ul>
                  <li><%= link_to "ログインはこちらから", caregiver_login_path, class: "btn btn--yellow btn--cubic" %></li>
                  <li><%= link_to "職員登録はこちらから", new_caregiver_staff_member_path, class: "btn btn--yellow btn--cubic" %></li>
                  <li><%= link_to "利用者情報の登録", new_caregiver_top_path, class: "btn btn--yellow btn--cubic" %></li>     
            </ul>
      </div>
      <% @caregivers.each do |caregiver| %>
      <div class="original-profile">
      <div class="original-profile-title"><i class="fas fa-pencil-alt"></i> スタッフ</div>
            <div class="original-profile-body">
                  <div class="original-profile-left">
                  </div>
            <div class="original-profile-right">
                  <p class="original-profile-name"><span style="border-bottom: dashed 2px #ab928c;"><%= caregiver.name %></span></p>
                  <div class="original-profile-description"><p>プロフィール説明文</p></div>
            </div>
      </div>
      </div>
      <% end %>
  <div class="pagination">
      <%= paginate @caregivers_paginate %>
  </div>
</div>






