<p>職員一覧</p>

<div class="profil-container">
<% @caregivers.each do |caregiver| %>
  <div class="original-profile">
        <div class="original-profile-title"><i class="fas fa-pencil-alt"></i> スタッフ</div>
        <div class="original-profile-body">
              <div class="original-profile-left">
                    <div class="original-profile-img">
                          <img src="#" alt="プロフィール画像" />
                    </div>
              </div>
              <div class="original-profile-right">
                    <p class="original-profile-name"><span style="border-bottom: dashed 2px #ab928c;"><%= caregiver.name %></span></p>
                    <div class="original-profile-description"><p>プロフィール説明文</p></div>
                    <!-- 読者になるボタン-->
              </div>
        </div>
  </div>
 <% end %>
</div>
<div>
<%= paginate @caregivers_paginate %>
</div>

 <%= link_to "ログインはこちらから", caregiver_login_path %>
<%= link_to "職員登録はこちらから" %>
<%= link_to "利用者情報の登録"%>



