
<h2 class="page-title">職員登録フォーム</h2>
<div class="form-container">

  <%= form_with model: @caregiver, url: :caregiver_staff_members, local: true do |f| %>
    <div class="field">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :age, "年齢" %><br>
      <%= f.text_field :age %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード(８文字以上１２時文字以内で入力してください)" %><br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワードをもう１度入力してください。" %><br>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="submit">
      <%= f.submit "登録する" %>
    </div>

    <%= link_to "ログインはこちらから", caregiver_login_path, class: "submit-button" %>
  <% end %>
</div>
