<% @title="職員登録フォーム" %>
<div class="page-title">
   <h2><%= @title %></h2>
</div>

<div class="form-container">
  <%= form_with model: @caregiver, url: :caregiver_staff_members, local: true do |f| %> 
    <%= render "error", caregiver: @caregiver %>
    <%= render "form", f: f %>
  <% end %>
</div>

<ul class="link-list">
   <li>
      <%= link_to "ログインはこちらから", caregiver_login_path, class: "btn btn--yellow btn--cubic" %>
   </li>
</ul>



