<% @title = "家族情報の登録" %>
<div class="page-title">
  <h2><%= @title %></h2>
</div>

 
 <div id="generic-form">
 <%= form_with model: @customer, url: :caregiver_staff_member_customers, local: true do |f| %>

  <%= render "error", customer: @customer %>

 <%= render "form", f: f %>
  <div class="buttons">
      <%= f.submit "登録" %>
      <%= link_to "キャンセル"%>
    </div>
  <% end %>
</div>
