<h1>利用者情報の入力</h1>

<%= form_with model: @caregiver, url: :caregiver_bulk_form_create do |form| %>
  <%= form.fields_for :care_recipitents do |care_recipitent| %>

  <div class="cp_iptxt">
    <div>
      <%= care_recipitent.label :family_name, "名字", class: "ef" %>
      <%= care_recipitent.text_field :family_name %>
    </div>

    <div>
      <%= care_recipitent.label :given_name, "名前", class: "ef"  %>
      <%= care_recipitent.text_field :given_name %>
    </div>

    <div>
      <%= care_recipitent.label :given_name_kana, "名字(カナ)", class: "ef"  %>
      <%= care_recipitent.text_field :given_name_kana %>
    </div>

    <div>
      <%= care_recipitent.label :given_name_kana, "名前(カナ)", class: "ef" %>
      <%= care_recipitent.text_field :given_name_kana %>
    </div>

    <div>
      <%= care_recipitent.label :age, "年齢", class: "ef"  %>
      <%= care_recipitent.number_field :age %>
    </div>

    <div>
      <%= care_recipitent.label :gender, "男性", class: "ef"  %>
      <%= care_recipitent.radio_button :gender, 0 %>
      <%= care_recipitent.label :gender, "女性", class: "ef"  %>
      <%= care_recipitent.radio_button :gender, 1 %>
    </div>

    <div>
      <%= care_recipitent.label :degree_of_care_required, "要介護度" %>
      <%= care_recipitent.number_field :degree_of_care_required %>
    </div>

    <div>
      <%= care_recipitent.label :degree_of_support_required, "要支援度" %>
      <%= care_recipitent.number_field :degree_of_support_required %>
    </div>

    <div>
      <%= care_recipitent.label :birthday, "誕生日" %>
      <%= care_recipitent.date_field :birthday %>
    </div>

    <div>
      <%= care_recipitent.label :remarks, "備考欄" %>
      <%= care_recipitent.text_area :remarks %>
    </div>

      <%= care_recipitent.hidden_field :id, value: care_recipitent.object.id %> 
    <div>
      <%= care_recipitent.submit "登録" %>
    </div>
    <% end %>
  <% end %>
</div>

