<% @title = "メッセージへの返信" %>
<h2><%= @title %></h2>



<%#= confirm_caregiver_message_reply_path%>
<div id="generic-form" class="table-wrapper">
  <%= form_with model: @reply, url: family_message_reply_path(@message) do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "送信" %> <br>
    </div>
  <% end %>
</div>


<%#3= render "message" %>


<%= link_to "トップページへ戻る", caregiver_staff_members_path %>
