<header>
<link rel="icon" type="image/png" href="#">
  <span class="logo-mark">kiroku</span>
  <%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
  <%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>
   
   <% if current_caregiver_member %>
     <%= button_to "ログアウト", caregiver_logout_path, method: :delete %> 
   <% else %>
    <%= link_to "ログイン", caregiver_login_path %>
    <%= link_to "職員登録", new_caregiver_staff_member_path %>
   <% end %>
  </div>

  
  <% current_caregiver_member.present? %>
   <%= link_to "トップページへ", caregiver_root_path %>
   <%= number_of_unprocessed_message if current_caregiver_member %>
    <%= button_to "ゲストユーザーはこちらこら", caregiver_guest_path, method: :post %>
   <%#= link_to "アカウント", caregiver_staff_member_path(current_caregiver_member) %> 



</header>



