<% @title="利用者情報一覧" %>
<div class="page-title">
   <h2><%= @title %></h2>
</div>

<% @care_recipitents.each do |f| %>
  <p class="center-p">作成日：<%= f.created_at.to_s(:jp_time)%></p>

 <table border="5", align="center">
    <tr bgcolor="pink">
      <th>名字</th>
      <th>名前</th>
      <th>名字(カナ)</th>
      <th>名前(カナ)</th>
      <th>年齢</th>
      <th>性別</th>
      <th>誕生日</th>
      <th>要介護度</th>
      <th>要支援度</th>
      <th>過去疾患</th>
      <th>現在疾患</th>
      <th>備考欄</th>
      <th>緊急搬送先の病院</th>
      <th>キーパーソン</th>
      <th>キーパーソンの連絡先</th>
      <th>担当スタッフ</th>
      <th><%= link_to "詳細",caregiver_top_path(f.id) %></th>
      <th><%= button_to "削除",caregiver_top_path(f.id), method: :delete %></th> 
    </tr>
    <tr>
      <td align="center"><%= f.family_name %></td>
      <td align="center"><%= f.given_name %></td>
      <td align="center"><%= f.family_name_kana %></td>
      <td align="center"><%= f.given_name_kana %></td>
      <td align="center"><%= f.age %></td>
      <td align="center"> <%= judge_gender(f.gender) %></td>
      <td align="center"><%= f.birthday %></td>
      <td align="center"><%= f.degree_of_care_required %></td>
      <td align="center"><%= f.degree_of_support_required %></td>
      <td align="center"><%= f.past_disease%></td>
      <td align="center"><%= f.current_disease %></td>
      <td align="center"><%= f.remarks %></td>
      <td align="center"><%= f.emergency_destination%></td>
      <td align="center"><%= f.key_person %></td>
      <td align="center"><%= f.key_person_phone_number %></td>
      <td align="center"><%= f.caregiver.name %></td>
    </tr> 
  </table>
<% end %>



<ul class="link-list">
  <li><%= link_to "利用者情報の登録", new_caregiver_top_path, class: "btn btn--yellow btn--cubic" %></li>
</ul>

