 <p>作成日：<%= @care_recipitent.created_at.to_s(:jp_time)%></p>

 <table border="5">
    <tr bgcolor="pink">
      <th bgcolor="	#E0FFFF">利用者情報</th>
      <th>名字</th>
      <th>名前</th>
      <th>名字(カナ)</th>
      <th>名前(カナ)</th>
      <th>年齢</th>
      <th>性別</th>
      <th>誕生日</th>
      <th>要介護度</th>
      <th>要支援度</th>
      <th>退所フラグ</th>
      <th>備考欄</th>
      <th>担当スタッフ</th>
      
    </tr>
    <tr>
      <td></td>
      <td><%= @care_recipitent.family_name %></td>
      <td><%= @care_recipitent.given_name %></td>
      <td><%= @care_recipitent.family_name_kana %></td>
      <td><%= @care_recipitent.given_name_kana %></td>
      <td><%= @care_recipitent.age %></td>
      <td> <%= @care_recipitent.gender %></td>
      <td><%= @care_recipitent.birthday %></td>
      <td><%= @care_recipitent.degree_of_care_required %></td>
      <td><%= @care_recipitent.degree_of_support_required %></td>
      <td><%= @care_recipitent.suspend%></td>
      <td><%= @care_recipitent.remarks %></td>
      <td><%= @care_recipitent.caregiver.name %></td>
      
    </tr> 
  </table>

<div>
  <%= link_to "利用者情報一覧画面へ", caregiver_tops_path %>
</div>




