 <% @title="利用者情報の詳細" %>
<div class="page-title">
   <h2><%= @title %></h2>
</div>

 
 <div class="caregiver-page"> 
  <p>作成日：<%= @care_recipitent.created_at.to_s(:jp_time)%></p>

  <table border="5", class="table-page">
      <tr bgcolor="pink">
        <th>姓</th>
        <th>名前</th>
        <th>姓(カナ)</th>
        <th>名前(カナ)</th>
        <th>年齢</th>
        <th>性別</th>
        <th>誕生日</th>
        <th>要介護度</th>
        <th>要支援度</th>
        <th>過去疾患</th>
        <th>現在疾患</th>
        <th>備考欄</th>
        <th>緊急搬送先の病院</th>
        <th>キーパーソン</th>
        <th>キーパーソンの連絡先</th>
        <th>担当スタッフ</th>  
      </tr>

      <tr>
        <td><%= @care_recipitent.family_name %></td>
        <td><%= @care_recipitent.given_name %></td>
        <td><%= @care_recipitent.family_name_kana %></td>
        <td><%= @care_recipitent.given_name_kana %></td>
        <td><%= @care_recipitent.age %></td>
        <td> <%= judge_gender(@care_recipitent.gender) %></td>
        <td><%= @care_recipitent.birthday %></td>
        <td><%= @care_recipitent.degree_of_care_required %></td>
        <td><%= @care_recipitent.degree_of_support_required %></td>
        <td><%= @care_recipitent.past_disease%></td>
        <td><%= @care_recipitent.current_disease %></td>
        <td><%= @care_recipitent.remarks %></td>
        <td><%= @care_recipitent.emergency_destination%></td>
        <td><%= @care_recipitent.key_person %></td>
        <td><%= @care_recipitent.key_person_phone_number %></td>
        <td><%= @care_recipitent.caregiver.name %></td>
      </tr> 
    </table>

  <div>
    <%= link_to "利用者情報一覧画面へ", caregiver_tops_path, class: "btn btn--yellow btn--cubic" %>
    <%= link_to "編集する", edit_caregiver_top_path(@care_recipitent.id), class: "btn btn--yellow btn--cubic" %>
  </div>
</div>




