<% @care_recipitent.vitals.each do |recipitent| %>
<p>日付：<%= recipitent.measuring_date %></p>

<%= @care_recipitent.family_name %><%= @care_recipitent.given_name %>さん

 <table border="5">
    <tr bgcolor="pink">
      <th bgcolor="	#E0FFFF">バイタル</th>
      <th>体温</th>
      <th>血圧</th>
      <th>脈拍</th>
      <th>SPO2</th>
    </tr>
    <tr>
      <td></td>
      <td><%= recipitent.temperature %></td>
      <td><%= recipitent.hign_blood_pressure %>/<%= recipitent.low_blood_pressure %></td>
      <td><%= recipitent.pulse %></td>
      <td><%= recipitent.spo2 %>%</td>
      <% end %>
    </tr> 
  </table>
