    <div class="field">
      <%= f.label :family_name, "名字" %><br>
      <%= f.text_field :family_name %>
    </div>

    <div class="field">
      <%= f.label :given_name, "名前" %><br>
      <%= f.text_field :given_name %>
    </div>

    <div class="field">
      <%= f.label :family_name_kana, "名字(カナ)" %><br>
      <%= f.text_field :family_name_kana %>
    </div>

    <div class="field">
      <%= f.label :given_name_kana, "名前(カナ)" %><br>
      <%= f.text_field :given_name_kana %>
    </div>

    <div class="field">
      <%= f.label :care_recipitent_name, "記録をしたい人の名前" %><br>
      <%= f.text_field :care_recipitent_name%>
    </div>

    <div class="field">
      <%= f.label :relationship, "続柄" %><br>
      <%= f.text_field :relationship %>
    </div>

    <div class="field">
      <%= f.label :address, "住所" %><br>
      <%= f.text_field :address %>
    </div>
  

  


