<div class="form-container">
  <h2>記録作成フォーム</h2>


<div class="h1-title">
<h1><%= Date.today.strftime("%Y年%m月%d日") %>の記録</h1>
</div>
  

  <div class="Form">
        <%= form_with model: @family, url: :family_tops, local: true do |form| %>
        <%= render "error", family: @family %>

      <div class="form-h3">
        <h3>バイタル</h3>
      </div>
      <%= form.fields_for :vitals, @family.vitals.build do |a| %>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>体温</p>
          <%= a.number_field  :temperature, placeholder: "36.0", class: "Form-Item-Input" %>℃
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>血圧(上)</p>
          <%= a.number_field :hign_blood_pressure, placeholder: "100", required: true, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>血圧(上)</p>
          <%= a.number_field :low_blood_pressure, placeholder: "120", required: true, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>脈拍</p>
          <%= a.number_field :pulse, placeholder: "60", required: true, class: "Form-Item-Input" %>回/分
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>呼吸回数</p>
          <%= a.number_field :breathing, placeholder: "10", required: true, class: "Form-Item-Input" %>回/分
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>spo2</p>
          <%= a.number_field :spo2, placeholder: "99", required: true, class: "Form-Item-Input" %>%
        </div>
      <% end %>

      <div class="form-h3">
        <h3>入浴チェック</h3>
      </div> 
      <%= form.fields_for :bathing_days, @family.bathing_days.build  do |b| %>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>入浴したらチェック</p>
          <%= b.check_box :judge_bath, required: true, class: "Form-Item-Input" %>
        </div>
      <% end %>

      <div class="form-h3">
        <h3>水分量記録</h3>
      </div>
      <%= form.fields_for :intake_waters, @family.intake_waters.build  do |c| %>
      <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>水分量</p>
          <%= c.number_field :amount_of_water, required: true, class: "Form-Item-Input" %>cc
        </div>
      <% end %>

      <div class="form-h3">
        <h3>服薬チェック</h3>
      </div>    
      <%= form.fields_for :medicines, @family.medicines.build  do |d| %>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>朝食前</p>
          <%= d.check_box :check_before_breakfast, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>朝食後</p>
          <%= d.check_box :check_after_breakfast, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>昼食前</p>
          <%= d.check_box :check_before_lunch, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>昼食後</p>
          <%= d.check_box :check_after_lunch, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>夕食前</p>
          <%= d.check_box :check_before_dinner, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>夕食後</p>
          <%= d.check_box :check_after_dinner, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>目薬</p>
          <%= d.check_box :check_eye_drops, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>軟膏</p>
          <%= d.check_box :check_ointment, class: "Form-Item-Input" %>
        </div>
      <% end %>

      
      <div class="form-h3">
         <h3>排泄チェック</h3>
      </div> 
      <%= form.fields_for :excretas, @family.excretas.build  do |e| %>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>排尿</p>
          <%= e.check_box :judge_pee, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>排便</p>
          <%= e.check_box :judge_shit, class: "Form-Item-Input" %>
        </div>
      <% end %>

      <div class="form-h3">
        <h3>食事チェック</h3>
      </div> 
      <%= form.fields_for :meals, @family.meals.build  do |e| %>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>朝食</p>
          <%= e.check_box :breakfast, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>昼食</p>
          <%= e.check_box :lunch, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>おやつ</p>
          <%= e.check_box :snack, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>夕食</p>
          <%= e.check_box :dinner, class: "Form-Item-Input" %>
        </div>
      <% end %>

      <div class="form-h3">
       <h3>活動の記録</h3>
      </div>  
      <%= form.fields_for :behavior_histories, @family.behavior_histories.build  do |e| %>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>時間</p>
          <%= e.time_field :behavior_time, required: true, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">任意</span>活動の記録</p>
            <%= e.text_area :action_record, class: "Form-Item-Textarea" %>
        </div>
      <% end %>
        <%= form.submit "登録", class: "Form-Btn" %>
    <% end %>
  </div>
</div>
