

<div id="family-form">
  <h1>行動記録を登録</h1>

   <%= form_with model: @behavior_history, url: :family_families do |f| %>

  <div>
    <%= f.label :behavior_history_date, "日付" %>
    <%= f.date_field :behavior_history_date, required: true %>
  </div>

  <div>
    <%= f.label :behavior_time, "時間" %>
    <%= f.time_select :behavior_time, required: true  %>
  </div>

  <div>
    <%= f.label :action_record, "活動記録" %>
    <%= f.text_area :action_record, placeholder: "記録を入力", required: true  %>
  </div>

  <div>
    <%= f.submit "送信" %>
  </div>
  <% end %>
  </div>

