家族：<%= @care_recipitent.family.family_name %><%= @care_recipitent.family.given_name %>さん

<br>

利用者：<%= @care_recipitent.family_name %><%= @care_recipitent.given_name %>さん
 <table border="5">
  <% @family.behavior_histories.each do |family| %>
    <tr bgcolor="pink">
      <th bgcolor="	#E0FFFF">活動記録</th>
      <th>日付</th>
      <th>時間</th>
      <th>記録内容</th>
    </tr>
    <tr>
      <td></td>
      <td><%= family.behavior_history_date %></td>
      <td><%= family.behavior_time.to_s(:jp_time) %></td>
      <td><%= family.action_record %></td>
      
    </tr> 
   <% end %>
  </table>
