   <div class="Form">
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>姓</p>
          <%= form.text_field :family_name, required: true, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>名前</p>
          <%= form.text_field :given_name, required: true, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>姓(カナ)</p>
          <%= form.text_field :family_name_kana, required: true, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>名前(カナ)</p>
          <%= form.text_field :given_name_kana, required: true, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">任意</span>記録をしたい人の名前</p>
            <%= form.text_field :care_recipitent_name, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">任意</span>パスワード</p>
            <%= form.password_field :password, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">任意</span>パスワードをもう１度入力してください。</p>
            <%= form.password_field :password_confirmation, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>続柄</p>
          <%= form.text_field :relationship, required: true, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>住所</p>
          <%= form.text_field :address, required: true, class: "Form-Item-Input" %>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>性別</p>
          <%= markup do |m| 
            p = FamilyFormPresenter.new(form, self)
            m << p.gender_field_block
            end %>
        </div>
        <%= form.submit "登録", class: "Form-Btn" %>
</div>    
    

 
  



