<div class="form-container">
<h1>一括登録フォーム</h1>

  <%= form_with model: @family, url: :family_tops, local: true do |f| %>
  

<%= f.fields_for :vitals do |vital| %>

<%= vital.label :measuring_date, "日付" %>
<%= vital.date_field :measuring_date, required: true %>
</div>

<div>
<%= vital.label :temperature, "体温" %>
<%= vital.number_field  :behavior_time, required: true %>
</div>

<div>
<%= vital.label :hign_blood_pressure, "血圧(上)" %>
<%= vital.number_field :hign_blood_pressure, placeholder: "血圧を入力", required: true %>
</div>

<div>
<%= vital.label :low_blood_pressure, "血圧(下)" %>
<%= vital.number_field :low_blood_pressure, placeholder: "血圧を入力", required: true %>
</div>

  <% end %>
</div>
