<h2>検索結果</h2>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>体温</th>
      <th>血圧</th>
      <th>脈拍</th>
      <th>呼吸回数</th>
      <th>酸素濃度</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |vital| %>
      <tr>
        <td><%= vital.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= vital.temperature %>℃</td> 
        <td><%= vital.low_blood_pressure %>/<%= vital.hign_blood_pressure %></td>
        <td><%= vital.pulse %>回/分</td> 
        <td><%= vital.breathing %>回/分</td>
        <td><%= vital.spo2 %>%</td> 
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>排尿</th>
      <th>排泄</th>
    </tr>
  </thead>
<tbody>
    <% @excretas_results.each do |excreta| %>
      <tr>
        <td><%= excreta.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= excreta.judge_pee ? "○": "×" %></td>
        <td><%= excreta.judge_shit ? "○": "×" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>朝食</th>
      <th>昼食</th>
      <th>おやつ</th>
      <th>夕食</th>
      
    </tr>
  </thead>
<tbody>
    <% @meals_results.each do |meal| %>
      <tr>
        <td><%= meal.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= meal.breakfast ? "○": "×" %></td>
        <td><%= meal.lunch ? "○": "×" %></td>
        <td><%= meal.snack ? "○": "×" %></td>
        <td><%= meal.dinner ? "○": "×" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>水分量</th>
    </tr>
  </thead>
<tbody>
    <% @intake_waters_results.each do |intake_water| %>
      <tr>
        <td><%= intake_water.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= intake_water.amount_of_water %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>入浴</th>
    </tr>
  </thead>
<tbody>
    <% @bathing_days_results.each do |bathing_day| %>
      <tr>
        <td><%= bathing_day.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= bathing_day.judge_bath ? "○": "×" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>朝食前</th>
      <th>朝食後</th>
      <th>昼食前</th>
      <th>昼食後</th>
      <th>夕食前</th>
      <th>夕食後</th>
      <th>目薬</th>
      <th>塗り薬</th>
    </tr>
  </thead>
<tbody>
    <% @medicines_results.each do |medicine| %>
      <tr>
        <td><%= medicine.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= medicine.check_before_breakfast ? "○": "×" %></td>
        <td><%= medicine.check_after_breakfast ? "○": "×" %></td>
        <td><%= medicine.check_before_lunch ? "○": "×" %></td>
        <td><%= medicine.check_after_lunch ? "○": "×" %></td>
        <td><%= medicine.check_before_dinner ? "○": "×" %></td>
         <td><%= medicine.check_after_dinner ? "○": "×" %></td>
        <td><%= medicine.check_eye_drops ? "○": "×" %></td>
        <td><%= medicine.check_ointment ? "○": "×" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>時間</th>
      <th>備考</th>
    </tr>
  </thead>
<tbody>
    <% @behavior_histories_results.each do |behavior_history| %>
      <tr>
        <td><%= behavior_history.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= behavior_history.behavior_time %></td>
        <td><%= behavior_history.action_record %></td>
      </tr>
    <% end %>
  </tbody>
</table>



 

<%= link_to "戻る", dashboard_family_families_path, class: "btn btn--yellow btn--cubic" %>


