<p>詳細画面</p>

<table border="5">

<tr bgcolor="pink">
<th bgcolor=" #E0FFFF"><%= "#{@family.family_name}" %><%= "#{@family.given_name}" %>さんの情報</th>
<th>名前</th>
<th>名前(カナ)</th>
<th>住所</th>
<th>性別</th>
<th>続柄</th>
</tr>
<tr>
<td></td>
<td><%= @family.family_name %><%= @family.given_name %></td>
<td><%= @family.family_name_kana %><%= @family.given_name_kana %></td>
<td><%= @family.address%></td>
<td><%= @family.gender %></td>
<td><%= @family.relationship %></td>
</tr>
</table>


<%= link_to "記録を作成する", new_family_family_top_path(@family.id) %>
