<!DOCTYPE html>
<html>
  <head>
    <title>Kiroku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "caregiver", media: "all" %>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
     <%= javascript_pack_tag 'caregiver' %>
     <script src="https://kit.fontawesome.com/44fd517c53.js" crossorigin="anonymous"></script>
     <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
     
     
     <script>
        $(window).scroll(function (){
          $(".marker-animation").each(function(){
            var position = $(this).offset().top; //ページの一番上から要素までの距離を取得
            var scroll = $(window).scrollTop(); //スクロールの位置を取得
            var windowHeight = $(window).height(); //ウインドウの高さを取得
            if (scroll > position - windowHeight){ //スクロール位置が要素の位置を過ぎたとき
              $(this).addClass('active'); //クラス「active」を追加
            }
          });
        });
     </script>
  </head>
  
   <body>
      <%= render "caregiver/shared/header" %>
      <div id="container-field">
        <div id="container">
          <%= yield %>
        </div>
      <%= render "caregiver/shared/footer" %>
      </div>
   </body>
</html>
