<!DOCTYPE html>
<html>
  <head>
    <title>Kiroku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "family", media: "all", 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/44fd517c53.js" crossorigin="anonymous"></script>
  </head>

     <body>
    <div id="wrapper">
      <%= render "family/shared/header" %>
    </div>

      <div id="container-field">
        <div id="container">
          <%= yield %>
        </div>
      <%= render "family/shared/footer" %>
      </div>  
  </body>
</html>
