<!DOCTYPE html>
<html>
  <head>
    <title>Kiroku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "family", media: "all" %>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_pack_tag 'family' %>
    <script src="https://kit.fontawesome.com/44fd517c53.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>		

  
  </head>

     <body>
    <div id="wrapper">
      <%= render "family/shared/header" %>
    </div>

      <div id="container-field">
        <div id="container">
          <%= yield %>
        </div>
      <%= render "family/shared/footer" %>
      </div>  
  </body>
</html>
