<!DOCTYPE html>
<html>
  <head>
    <title>Kiroku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "caregiver", media: "all" %>
    <%= javascript_pack_tag 'caregiver' %>
    <script src="https://kit.fontawesome.com/44fd517c53.js" crossorigin="anonymous"></script>
  </head>
  
   <body>
      <%= render "caregiver/shared/header" %>


      <div id="container-field">
        <div id="container">
          <%= yield %>
        </div>
      <%= render "caregiver/shared/footer" %>
      </div>
   </body>
</html>
