<!DOCTYPE html>
<html>
  <head>
    <title>Kiroku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<<<<<<< HEAD:app/views/layouts/application.html.erb
    <%= document_title %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
=======

    <%= stylesheet_link_tag "staff", media: "all", 'data-turbolinks-track': 'reload' %>
>>>>>>> development:app/views/layouts/staff.html.erb
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
    <%= render "shared/header" %>
    <div id="container">
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </div>
   
  </body>
</html>
